@charset "utf-8"; .row { padding: 0 10px; margin: 0 auto } 

/* header */
#header h1 { display: inline-block; position: absolute; top: 20px; left: 1%; color: rgba(0, 0, 0, .9); z-index: 20; transition:all .3s; } 
#header h1.scroll { transform: translateY(-10px) scale(90%);  } 
.homeLogo.logo1.active { display: none; } 
#header .btn { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); } 
#header { position:relative;} 
#header .headerFixed { position: fixed; top: 0; right: 0; left: 0;  background: #fff; z-index: 9999; } 
#header .open { display: block; position: fixed; right: 50px; font-size: 30px; z-index: 999999999999999999; transform: translateY(-50%); cursor: pointer; } 
#header .row { position: relative } 

@keyframes cdAni { 
    0% { transform: translateX(1000px); opacity: 0;} 
    100% { transform: translateY(0); opacity: 1;} 
 }

/* open */
.cd-nav-trigger { position: absolute; top: 20px; right: 0%; width: 54px; /*background-color: #243040; */ height: 54px;
 overflow: hidden; border-radius: 0%; /* image replacement */ z-index: 30;
 background-color: rgba(255,255,255,0.9); text-indent: 100%; white-space: nowrap; -webkit-transition: -webkit-transform 0.5s; -moz-transition: -moz-transform 0.5s; transition: transform 0.5s; transition: .5s all; } 
.cd-nav-trigger.scroll { transform:translateY(-7px) } 
 .cd-nav-trigger .cd-nav-icon { /* icon created in CSS */
position: absolute; top: 50%; right: auto; bottom: auto; left: 50%; width: 30px; height: 2px; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); background-color: #333; } 
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after { /* upper and lower lines of the menu icon */ position: absolute; top: 0; right: 0; width: 100%; height: 100%;
content: ''; background-color: inherit; /* Force Hardware Acceleration in WebKit */
-webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s; -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s; transition: transform 0.5s, width 0.5s, top 0.3s; } 
.cd-nav-trigger .cd-nav-icon::before { -webkit-transform-origin: right top; -moz-transform-origin: right top; -ms-transform-origin: right top; -o-transform-origin: right top; transform-origin: right top; -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); transform: translateY(-10px); } 
.open.on .cd-nav-trigger .cd-nav-icon::before { width: 50%; -webkit-transform: translateY(0px) rotate(45deg); -moz-transform: translateY(0px) rotate(45deg); -ms-transform: translateY(0px) rotate(45deg); -o-transform: translateY(0px) rotate(45deg); transform: translateY(0px) rotate(45deg); } 
.cd-nav-trigger .cd-nav-icon::after { -webkit-transform-origin: right bottom; -moz-transform-origin: right bottom; -ms-transform-origin: right bottom; -o-transform-origin: right bottom; transform-origin: right bottom; -webkit-transform: translateY(10px); -moz-transform: translateY(10px); -ms-transform: translateY(10px); -o-transform: translateY(10px); transform: translateY(10px); } 
.open.on .cd-nav-trigger .cd-nav-icon::after { width: 50%; -webkit-transform: translateY(0px) rotate(-45deg); -moz-transform: translateY(0px) rotate(-45deg); -ms-transform: translateY(0px) rotate(-45deg); -o-transform: translateY(0px) rotate(-45deg); transform: translateY(0px) rotate(-45deg); } 


/* cd */
#header .cd { display:none; position: relative; top: 0; left: 0; width: 100%; height: 100%; z-index: 9999999; animation: cdAniOut 1.3s; background-color: #fff; } 
#header .cd.active { display: block; } 
#header .cd_full {width: 1024px; padding: 100px 15px; margin: 0 auto; animation: cdAni 1s;}
#header .cd_nav { float: left; text-align: center; padding-bottom: 0 0 100px; } 
#header .cd_full h2 { position: relative; width: 200px; padding: 8px 0 50px; font-size: 24px; font-weight: bold; } 
#header .cd_full h2:after { position: absolute; bottom: 18px; left: 0; width: 54px; height: 1px; background: #000; content: ''; } 
#header .cd_nav .cdSection .first { padding: 10px 0 15px; font-size: 30px; } 
#header .cd_nav .cdSection .first.intro { padding: 50px 0 15px; } 
#header .cd_nav2 { float: right; color: #252525; } 
.sectionBig>li { padding: 50px 0 0px; text-align: left;} 
.sectionBig a { color: rgba(0, 0, 0, 0.8) } 
.sectionSmall { padding: 30px 0 25px; } 
.sectionSmall li { float: left; padding: 0 25px 0 0; } 
.sectionSmall li a { font-size: 17px; } 
.nav2_full { width: 335px; } 
.nav2_full .nav2_full_right { padding: 50px 0 0; text-align: right; } 
.nav2_full .nav2_full_right ul li { margin-bottom: 60px;; } 
.cd_nav2 h3 { display: inline-block; font-size: 25px; line-height: 35px; } 
.cd_nav2 p { font-size: 1.2rem; } 
.nav2_full_right ul li div { font-size: 19.2px; margin-bottom: 20px; } 
.cd_nav2 .cd_sns img { width: 45px; height: 45px; } 
.cd_nav2 .cd_sns img~img { margin: 0 0 0 5px; } 


/* section */
#section.active { display: none; }


/* nav 구역 */
#nav { position: absolute; top: 0px; left:0; width: 100%;  z-index: 13; background-color: #fff; padding:0 0 0 200px;  }      
#nav .navUl { width: 1400px; margin:0 auto; overflow: hidden; list-style-type: none; box-sizing: border-box; transition: all .1s } 
#nav .navUl.scroll { transform: translateY(-10px);   } 
#nav .navUl.active { display: none; } 
#nav .navUl .menu { float: left; width: 14%; text-align: center; height:80px;} 
#nav .navUl .menu.active { float: left; width: 14%; text-align: center; height:100%;} 
.depth1 { display: block; padding: 0; padding: 0 10px; margin: 0 auto; font-size: 18px; letter-spacing: -0.3px; text-align: center; line-height: 100px; box-sizing: border-box; transition: all .1s;} 
.depth1.scroll { font-size:16px;  } 
.depth1>a { transition: all 0.5s; } 
.depth1>a:hover { color: red } 
.depth2>ul { padding: 0; margin: 0; color: #888; list-style-type: none; } 
.depth2>ul>li>a { display: block; height: 70px; padding: 5px 0; border-radius: 5px 5px; transition: all 0.5s; line-height: 30px; } 
.depth2>ul>li>a:hover { color: red } 
#nav .navUl .depth2 { display: block; height:0px; font-size: 14px; overflow: hidden; background:#fff; transition: all 0.3s; } 
#nav .navUl .depth2.active { display: block; height:420px; transition: all 0.3s; } 

/* footer 구역 */